{% extends "layout.html" %}
{% block content %}

<form action="/residents/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Fname">Resident First Name</label>
            <input id="Fname" type="text" class="form-control" placeholder="Isabel" name="Fname">
        </div>
        <div class="col">
            <label for="Lname">Resident Last Name</label>
            <input id="Lname" type="text" class="form-control" placeholder="Walters" name="Lname">
        </div>
    </div>
        <div class="row">
        <div class="col">
            <label for="Address">Address</label>
            <input id="Address" type="text" class="form-control" placeholder="380 Wilson Lane" name="Address">
        </div>
        <div class="col">
            <label for="State">State</label>
            <input id="State" type="text" class="form-control" placeholder="PA" name="State">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="City">City</label>
            <input id="City" type="text" class="form-control" placeholder="Easton" name="City">
        </div>
        <div class="col">
            <label for="ZipCode">ZipCode</label>
            <input id="ZipCode" type="number" class="form-control" placeholder="18042" name="ZipCode">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Email">Email</label>
            <input id="Email" type="text" class="form-control" placeholder="isabelwpa@gmail.com" name="Email">
        </div>
        <div class="col">
            <label for="Password">Password</label>
            <input id="Password" type="text" class="form-control" placeholder="123456789" name="Password">
        </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}